@media (max-width:1030px) {

    /* header */
    header {
        padding-inline: 32px;
    }

    /* section1 */
    .section1_div {
        padding-inline: 66px;
    }
    
}


@media (max-width:950px){

    /* section1 */
    .section1{height: 400px;}
    .section1_h{font-size: 45px;}
    .section1_div{padding-inline: 85px;}

}


@media (max-width:900px) {

    /* section1 */

    .section1{height: 320px;}
    .section1_h {
        font-size: 36px;
        line-height: 44px;
    }

}